---
http_interactions:
- request:
    method: get
    uri: https://api.ip2location.io/?ip=2606%3A54c0%3A76a0%3A13f0%3A%3A6a%3A51&key=<ip2location_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ip":"2606:54c0:76a0:13f0:0000:0000:006a:0051","country_code":"US","country_name":"United
        States of America","region_name":"Rhode Island","city_name":"Providence","latitude":41.823834,"longitude":-71.412697,"zip_code":"02901","time_zone":"-04:00","asn":"13335","as":"CloudFlare
        Inc.","is_proxy":false}'
  recorded_at: Sat, 08 Jul 2023 20:58:39 GMT
recorded_with: VCR 6.2.0
