---
http_interactions:
- request:
    method: get
    uri: https://api.ip2location.io/?ip=2606%3A54c0%3A76a0%3A13f0%3A%3A6a%3A51&key=<ip2location_api_key>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"ip":"2606:54c0:76a0:13f0:0000:0000:006a:0051","country_code":"US","country_name":"United
        States of America","region_name":"Rhode Island","city_name":"Providence","latitude":41.823834,"longitude":-71.412697,"zip_code":"02901","time_zone":"-04:00","asn":"13335","as":"CloudFlare
        Inc.","is_proxy":false}'
  recorded_at: Sat, 08 Jul 2023 20:58:35 GMT
- request:
    method: get
    uri: https://developer.nrel.gov/api/alt-fuel-stations/v1/nearest.geojson?api_key=<nrel_api_key>&latitude=41.823834&longitude=-71.412697
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      content-type:
      - application/geo+json; charset=utf-8
      last-modified:
      - Sat, 08 Jul 2023 20:58:36 GMT
      x-api-umbrella-request-id:
      - c96t6a379j8jbfv19ru0
      x-ratelimit-limit:
      - '1000'
      x-ratelimit-remaining:
      - '987'
      x-vcap-request-id:
      - 66e8b496-b408-4076-6baa-1ecfd9995490
    body:
      encoding: UTF-8
      string: '{"type":"FeatureCollection","metadata":{"latitude":41.823834,"longitude":-71.412697,"location_country":null,"precision":null,"station_locator_url":"https://afdc.energy.gov/stations/","total_results":153,"station_counts":{"total":334,"fuels":{"BD":{"total":0},"E85":{"total":0},"ELEC":{"total":332,"stations":{"total":151}},"HY":{"total":1},"LNG":{"total":0},"CNG":{"total":0},"LPG":{"total":1},"RD":{"total":0}}},"offset":0},"features":[{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.412655,41.82333]},"properties":{"access_code":"public","access_days_time":"24
        hours daily","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2023-07-08","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":203363,"open_date":"2022-01-01","owner_type_code":null,"status_code":"E","restricted_access":null,"maximum_vehicle_class":null,"station_name":"PEERLESS
        GARAGE STATION2","station_phone":"888-758-4389","updated_at":"2023-07-08T00:43:50Z","facility_type":null,"geocode_status":"GPS","city":"Providence","intersection_directions":null,"plus4":null,"state":"RI","street_address":"150
        Union St","zip":"02903","country":"US","bd_blends":null,"cng_dispenser_num":null,"cng_fill_type_code":null,"cng_psi":null,"cng_renewable_source":null,"cng_total_compression":null,"cng_total_storage":null,"cng_vehicle_class":null,"cng_has_rng":null,"e85_blender_pump":null,"e85_other_ethanol_blends":null,"ev_connector_types":["J1772"],"ev_dc_fast_num":null,"ev_level1_evse_num":null,"ev_level2_evse_num":2,"ev_network":"ChargePoint
        Network","ev_network_web":"http://www.chargepoint.com/","ev_other_evse":null,"ev_pricing":null,"ev_renewable_source":null,"hy_is_retail":null,"hy_pressures":null,"hy_standards":null,"hy_status_link":null,"lng_renewable_source":null,"lng_vehicle_class":null,"lng_has_rng":null,"lpg_primary":null,"lpg_nozzle_types":null,"ng_fill_type_code":null,"ng_psi":null,"ng_vehicle_class":null,"rd_blends":null,"rd_blends_fr":null,"rd_blended_with_biodiesel":null,"rd_max_biodiesel_level":null,"nps_unit_name":null,"access_days_time_fr":null,"intersection_directions_fr":null,"bd_blends_fr":null,"groups_with_access_code_fr":"Public","ev_pricing_fr":null,"ev_network_ids":{"station":["USCPIL12197201"],"posts":["21132881","21132891"]},"distance":0.03485,"distance_km":0.05609}},{"type":"Feature","geometry":{"type":"Point","coordinates":[-71.412744,41.823294]},"properties":{"access_code":"public","access_days_time":"24
        hours daily","access_detail_code":null,"cards_accepted":null,"date_last_confirmed":"2023-07-08","expected_date":null,"fuel_type_code":"ELEC","groups_with_access_code":"Public","id":203362,"open_date":"2022-01-01","owner_type_code":null,"status_code":"E","restricted_access":null,"maximum_vehicle_class":null,"station_name":"PEERLESS
      [...]
